* {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.fullScreen {
    position: fixed;
    display: inline-flex;
    bottom: 5px;
    left: 5px;
}

.fullScreenBtn {
    width: 20%;
    cursor: pointer;
}